<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwExceptions="false">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <variable name="appName" value="IAI" />
  <targets async="true">
    <target name="logFile" xsi:type="File"
            layout="${longdate} - ${level:uppercase=true}: ${message}${oneexception: ${newline}EXCEPTION\: ${exception: ToString:maxInnerExceptionLevel=3}}"
            fileName="${basedir}\Logs\NLog.log"
            keepFileOpen="false"
            archiveFileName="${basedir}\Logs\Archive\NLog_${shortdate}.{##}.log" 
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30"/>

    <target name="controllerLogFile" xsi:type="File"
            layout="${longdate} - ${level:uppercase=true}: ${message}${oneexception: ${newline}EXCEPTION\: ${exception: ToString:maxInnerExceptionLevel=3}}"
            fileName="${basedir}\Logs\ControllerLogs\NLog.log"
            keepFileOpen="false"
            archiveFileName="${basedir}\Logs\ControllerLogs\Archive\NLog_${shortdate}.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30"/>

    <target name="repositoryLogFile" xsi:type="File"
            layout="${longdate} - ${level:uppercase=true}: ${message}${oneexception: ${newline}EXCEPTION\: ${exception: ToString:maxInnerExceptionLevel=3}}"
            fileName="${basedir}\Logs\RepositoryLogs\NLog.log"
            keepFileOpen="false"
            archiveFileName="${basedir}\Logs\RepositoryLogs\Archive\NLog_${shortdate}.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30"/>
    <target name="serviceLogFile" xsi:type="File"
            layout="${longdate} - ${level:uppercase=true}: ${message}${oneexception: ${newline}EXCEPTION\: ${exception: ToString:maxInnerExceptionLevel=3}}"
            fileName="${basedir}\Logs\ServiceLogs\NLog.log"
            keepFileOpen="false"
            archiveFileName="${basedir}\Logs\ServiceLogs\Archive\NLog_${shortdate}.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30"/>
    <target name="emailLogFile" xsi:type="File"
            layout="${longdate} - ${level:uppercase=true}: ${message}${oneexception: ${newline}EXCEPTION\: ${exception: ToString:maxInnerExceptionLevel=3}}"
            fileName="${basedir}\Logs\EmailLogs\NLog.log"
            keepFileOpen="false"
            archiveFileName="${basedir}\Logs\EmailLogs\Archive\NLog_${shortdate}.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30"/>
    <target name="loginLogFile" xsi:type="File"
            layout="${longdate} - ${level:uppercase=true}: ${message}${oneexception: ${newline}EXCEPTION\: ${exception: ToString:maxInnerExceptionLevel=3}}"
            fileName="${basedir}\Logs\LoginLogs\NLog.log"
            keepFileOpen="false"
            archiveFileName="${basedir}\Logs\LoginLogs\Archive\NLog_${shortdate}.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30"/>

  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="logFile" />
    <logger name="ControllerLogs" minlevel="Info" writeTo="controllerLogFile" />
    <logger name="RepositoryLogs" minlevel="Info" writeTo="repositoryLogFile" />
    <logger name="ServiceLogs" minlevel="Info" writeTo="serviceLogFile" />
    <logger name="EmailLogs" minlevel="Info" writeTo="emailLogFile" />
    <logger name="LoginLogs" minlevel="Info" writeTo="loginLogFile" />
  </rules>
</nlog>